<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <div class="section-table">
        <div class="card-header">
          <h6>게시물</h6>
        </div>
        <div class="card-body">
          <div class="table-wrapper">
            <div class="row"></div>
            <div class="row">
              <div class="col">
                <table>
                  <thead>
                    <tr role="row">
                      <th>id</th>
                      <th>name</th>
                      <th>age</th>
                      <th>dname</th>
                    </tr>
                  </thead>
                  <tbody id="data">
                    <tr>
                      <td>1</td>
                      <td>SMITH</td>
                      <td>30</td>
                      <td>Develop</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- 페이징 처리하는 HTML -->
    <div class="pagination">
      <a>Previous</a>
      <a>1</a>
      <a>2</a>
      <a>3</a>
      <a>4</a>
      <a>5</a>
      <a>Next</a>
    </div>
  </body>
  <script
    src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
    crossorigin="anonymous"
  ></script>
  <script></script>
</html>
